<div layout="row" ng-cloak>
    <md-sidenav class="md-sidenav-left" md-component-id="left-menu" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
        <md-toolbar layout="row" class="md-whiteframe-z1">
            <div class="md-toolbar-tools" style="padding-top: 10px">

                <md-input-container style="margin-bottom:0">
                    <label style="color: white;">Buscar Contato</label>
                    <md-icon md-svg-icon="search" class="name"></md-icon>
                    <input style="color: white;" name="contatoName" ng-model="_ctrl.filterText" ng-change="_ctrl.filter()" ng-keydown="_ctrl.processKeyContatoSearch($event)">
                </md-input-container>
                <md-menu>
                    <md-button aria-label="Abrir menu" class="md-icon-button" style="color: white; margin-top: -10px" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-svg-icon="cog"></md-icon>
                    </md-button>
                    <md-menu-content width="6">
                        <md-menu-item style="padding-left: 16px" md-menu-align-target ng-repeat="item in _ctrl.filters">
                            <md-checkbox ng-model="item.value" aria-label="{{item.name}}" ng-change="_ctrl.checkFilters($index); _ctrl.filter()">
                                {{item.name}}
                            </md-checkbox>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
        <md-content flex layout="column">
            <md-list style="overflow-scroll" id="contato-list" in-view-container du-scroll-container>
                <md-list-item ng-repeat="it in _ctrl.contatos" class="md-2-line" style="border-bottom: 1px solid rgba(0,0,0,0.1)">
                    <md-button ng-click="_ctrl.selectContato(it)" ng-class="{'selected' : it._id.id === _ctrl.selected._id.id }" id="contatoItem{{it._id.id}}">
                        <div class="md-list-item-text" style="padding: 2px 0px 0px 0px;" layout="column" in-view="_ctrl.contactInView($index, $inview, it)" in-view-options="{offsetBottom: -25}">
                            <h3>{{it.nome}} {{it.sobrenome}}</h3>
                            <p>{{it.descricao}}</p>
                        </div>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content layout-fill layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2" style="height: 100%;">
        <md-toolbar class="md-whiteframe-z1">
            <div class="md-toolbar-tools" style="padding-top: 10px">
                <md-button class="md-info" hide-gt-md ng-click="_ctrl.toggleMenu()" aria-label="Show User List">
                    <md-icon md-svg-icon="menu"></md-icon>
                </md-button>
                <h1>Dados do Contato</h1>
            </div>
        </md-toolbar>

        <md-content flex layout="column">
            <md-toolbar md-theme="altTheme">
                <div class="md-toolbar-tools">
                    {{ _ctrl.selected.nome }} {{ _ctrl.selected.sobrenome}}
                    <span flex></span>
                    <md-button class="md-raised md-info" ng-if="!_ctrl.editando" ng-click="_ctrl.createContato()">Novo</md-button>
                    <md-button class="md-raised md-info" ng-if="_ctrl.editando" ng-disabled="!formContato.$valid || !_ctrl.alterado" ng-click="_ctrl.saveContato()">Salvar</md-button>
                    <md-button class="md-raised md-info" ng-if="!_ctrl.editando && _ctrl.selected._id" ng-click="_ctrl.editarContato()">Editar</md-button>
                    <md-button class="md-raised md-info" ng-if="_ctrl.editando" ng-click="_ctrl.cancelarEdicao()">Cancelar</md-button>
                    <md-button class="md-raised md-warn" ng-if="_ctrl.editando && _ctrl.selected._id" ng-click="_ctrl.deleteContato()">Remover</md-button>
                </div>
            </md-toolbar>

            <md-content id="toastBounds">
                <form name="formContato">
                    <md-content layout-padding layout-sm="column" layout="row">
                        <md-input-container style="width: 50%">
                            <label>Nome</label>
                            <input id="name_input" focus-on="contatoEdit" ng-model="_ctrl.selected.nome" type="text" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando" required>

                        </md-input-container>
                        <md-input-container style="width: 50%">
                            <label>Sobrenome</label>
                            <input ng-model="_ctrl.selected['sobrenome']" type="text" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando">
                        </md-input-container>
                    </md-content>
                    <md-content layout-padding layout-sm="column" layout="row">
                        <md-input-container style="width: 100%">
                            <label>Descrição</label>
                            <input ng-model="_ctrl.selected.descricao" type="text" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando">
                        </md-input-container>
                    </md-content>
                    <md-content layout-padding layout-sm="column" layout="row">
                        <md-input-container md-no-float style="width: 100%">
                            <label>E-mail</label>
                            <input type="email" name="email" ng-model="_ctrl.selected.email" minlength="8" maxlength="100" ng-pattern="/^.+@.+\..+$/" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando" />
                        </md-input-container>
                    </md-content>
                    <section>
                        <md-subheader class="md-primary">Endereços</md-subheader>
                        <md-content layout-padding layout-sm="column" layout="row" ng-repeat="end in _ctrl.selected.enderecos">
                            <div md-no-float style="width: 25%">
                                <!--md-autocomplete md-floating-label="Tipo" md-selected-item="end.tipo" md-items="tipo in _ctrl.tiposEndereco" md-item-text="tipo"
                                md-min-length="0" placeholder="Tipo do endereço" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{tipo}}</span>
                                    </md-item-template>
                                </md-autocomplete-->
                                <md-select ng-model="end.tipo" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando" aria-label="Tipo">
                                    <md-option ng-repeat="tipo in _ctrl.tiposEndereco" value="{{tipo}}">
                                        {{tipo}}
                                    </md-option>
                                </md-select>
                            </div>
                            <span flex></span>
                            <md-input-container style="width: 70%">
                                <label>Endereço</label>
                                <textarea ng-model="end.endereco" columns="1" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando"></textarea>
                            </md-input-container>
                        </md-content>
                        <md-button class="md-icon-button" aria-label="Adicionar endereço" ng-click="_ctrl.adicionarEndereco()" ng-if="_ctrl.editando">
                            <md-tooltip>Adicionar endereço</md-tooltip>
                            <md-icon md-svg-icon="assets/svg/add.svg"></md-icon>
                        </md-button>
                    </section>
                    <section>
                        <md-subheader class="md-primary">Telefones</md-subheader>
                        <div layout-padding layout-sm="column" layout="row" ng-repeat="tel in _ctrl.selected.telefones">
                            <div md-no-float style="width: 25%">
                                <!--
                                <md-autocomplete md-floating-label="Tipo" md-selected-item="tel.tipo" md-items="tipo in _ctrl.tiposTelefone" md-item-text="tipo"
                                md-min-length="0" placeholder="Tipo do telefone">
                                    <md-item-template>
                                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{tipo}}</span>
                                    </md-item-template>
                                </md-autocomplete>
                                -->
                                <md-select ng-model="tel.tipo" ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando" aria-label="Tipo">
                                    <md-option ng-repeat="tipo in _ctrl.tiposTelefone" value="{{tipo}}">
                                        {{tipo}}
                                    </md-option>
                                </md-select>
                            </div>
                            <span flex></span>
                            <md-input-container md-no-float style="width: 70%">
                                <label>Número</label>
                                <input ng-model="tel.numero" type="text" ui-br-phone-number ng-change="_ctrl.alterado = true" ng-disabled="!_ctrl.editando">
                            </md-input-container>
                        </div>
                        <md-button class="md-icon-button" aria-label="Adicionar telefone" ng-click="_ctrl.adicionarTelefone()" ng-if="_ctrl.editando">
                            <md-tooltip>Adicionar telefone</md-tooltip>
                            <md-icon md-svg-icon="assets/svg/add.svg"></md-icon>
                        </md-button>
                    </section>
                </form>
            </md-content>
        </md-content>
    </md-content>
</div>